# .gitignore

# Ignore hidden folders
# This takes care of .tmp, .sass-cache, and many others
.*/

Gemfile.lock

# OSX
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon

# Linux
*~


# Ignore packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Packages
node_modules/*
.tmp

# bower
src/bower_components

# Output folders
site

