---
layout: template
title: Templates
---

<link rel="stylesheet" type="text/css" href="/assets/css/page-list.css">

<div class="container">

  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a target="_blank" href="/styleguide"><i class="glyphicon glyphicon-link"></i> CSS Styleguide</a></li>
      <li class="active"><a target="_blank" href="/styleguide/symbols.html"><i class="glyphicon glyphicon-link"></i> SVG Icons</a></li>
    </ul>
    <!-- <h2 class="text-muted">Page list</h2> -->
  </div>

  <div class="jumbotron">
    <h1><i class="glyphicon glyphicon-hand-down"></i> {{ site.name }}</h1>
    <p class="lead">This is just a page list where you can have control over the total list of templates you have created
    with links to the styleguide, current status and crossbrower check !</p>
  </div>

  <table class="table">
  {% for page in site.pages %}
   <!-- {% if page.browsers %} -->
     <tr>
       <td>
           <a href="{{ page.url | prepend: site.baseurl }}" target="_blank">{{ page.title }}</a>
           <!-- page.status [planing, design, develop, qa, ready]  -->
           {% if page.status %}
           <span class="label label-{{ page.status }}">{{ page.status }}</span>
           {% endif %}
       </td>
       <td class="text-right">
           {% include cross-browser.html %}
       </td>
     </tr>
   <!-- {% endif %} -->

  {% endfor %}
  </table>

</div>

