---
layout: default
title: Browser support - page list
---

<link rel="stylesheet" type="text/css" href="/public/css/page-list.css">

<div class="container">

  <h1> <i class="glyphicon glyphicon-home"></i> {{ site.name }}</h1>

  <h2>{{ site.name }} List</h2>
  <table class="table">
  {% for page in site.pages %}
   <!-- {% if page.browsers %} -->
     <tr>
       <td>
           <a href="{{ page.url | prepend: site.baseurl }}" target="_blank">{{ page.title }}</a>
           <!-- page.status [planing, design, develop, qa, ready]  -->
           {% if page.status %}
           <span class="label label-{{ page.status }}">{{ page.status }}</span>
           {% endif %}
       </td>
       <td class="text-right">
           {% include cross-browser.html %}
       </td>
     </tr>
   <!-- {% endif %} -->

  {% endfor %}
  </table>

</div>

