<div id="image-slider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#image-slider" data-slide-to="0" class="active"></li>
        <li data-target="#image-slider" data-slide-to="1"></li>
        <li data-target="#image-slider" data-slide-to="2"></li>
        <li data-target="#image-slider" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{site.baseurl}}/assets/images/placeholders/case-study/carousel-slide-1.jpg" alt="" />
        </div>
        <div class="item">
            <img src="{{site.baseurl}}/assets/images/placeholders/case-study/carousel-slide-1.jpg" alt="" />
        </div>
        <div class="item">
            <img src="{{site.baseurl}}/assets/images/placeholders/case-study/carousel-slide-1.jpg" alt="" />
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#image-slider" data-slide="prev">
        <img src="{{site.baseurl}}/assets/images/global/slider/arrow-left-red.png" alt="left" />
    </a>
    <a class="right carousel-control" href="#image-slider" data-slide="next">
        <img src="{{site.baseurl}}/assets/images/global/slider/arrow-right-red.png" alt="right" />
    </a>

</div>

<script type="text/javascript">
$(document).ready(function() {

    //Initializing the carousel. Please always use the carousels id not to mess with the other carousels
    $('#image-slider').carousel({
        interval: 4000
    });

});
</script>
