<div id="home-hero-slider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#home-hero-slider" data-slide-to="0" class="active"></li>
        <li data-target="#home-hero-slider" data-slide-to="1"></li>
        <li data-target="#home-hero-slider" data-slide-to="2"></li>
        <li data-target="#home-hero-slider" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <video width="100%" height="100%" autoplay="autoplay" muted>
              <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
              <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
              <img src="{{site.baseurl}}/assets/images/home/hero-slider/converse.jpg" alt="..." />
            </video>
            <header class="item-info">
                <h1>Converse</h1>
                <p>Helping An Icon Make Music</p>
                <button type="button" class="btn default">Learn More</button>
            </header>
        </div>
        <div class="item">
            <img src="{{site.baseurl}}/assets/images/home/hero-slider/luxotica.jpg" alt="..." />
            <header class="item-info">
                <h1>Luxottica</h1>
                <p>Building the luxury eyewear destination</p>
                <button type="button" class="btn default">Learn More</button>
            </header>
        </div>
        <div class="item">
            <img src="{{site.baseurl}}/assets/images/home/hero-slider/unmas.jpg" alt="..." />
            <header class="item-info">
                <h1>unmas</h1>
                <p>Turning New York Into A Digital Minefield</p>
                <button type="button" class="btn default">Learn More</button>
            </header>
        </div>
        <div class="item">
            <img src="{{site.baseurl}}/assets/images/home/hero-slider/luxotica.jpg" alt="..." />
            <header class="item-info">
                <h1>Luxottica</h1>
                <p>Building the luxury eyewear destination</p>
                <button type="button" class="btn default">Learn More</button>
            </header>
        </div>
    </div>

    <!-- Controls -->

    <div class="custom-controls">
        <div class="line-container pull-left">
            <div class="line active">
            </div>
        </div>
        <div class="line-container pull-left">
            <div class="line">
            </div>
        </div>
        <div class="line-container pull-left">
            <div class="line">
            </div>
        </div>
        <div class="line-container pull-left">
            <div class="line">
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
$(document).ready(function() {
    var currentIndex = 0;
    var carouselInitted = false;
    var customControlsItems = $(".custom-controls").find(".line");
    var currentControlItem;
    var intervalValue = 8000;
    var animationInterval;
    var animationPercentage = 0;

    //Initializing the carousel. Please always use the carousels id not to mess with the other carousels
    $('#home-hero-slider').carousel({
        interval: intervalValue
    });

    //Because we are biding to the carousel event that changes slides we have to run the first item animation manually
    startItemAnimation(0, 99);

    //When the slides changes we start the animations
    $('#home-hero-slider').on('slide.bs.carousel', function () {
        var index;

        //Gets the current index of the carousel slides
        currentIndex = $('#home-hero-slider').data("bs.carousel").getActiveIndex();

        //Switches the classes to mark the right one as red
        customControlsItems.removeClass("active");
        if(currentIndex < customControlsItems.length-1){
            index = currentIndex+1;
        }else{
            index = 0;
        }
        currentControlItem = customControlsItems.eq(index);
        currentControlItem.addClass("active");

        //Resets the line width to be later animated
        animationPercentage = 0;

        //The last item line width should be 100% but for a weird bug I have to compare against the second to last item
        if(currentIndex == customControlsItems.length-2){
            startItemAnimation(index, 100);
        }else{
            startItemAnimation(index, 99);
        }
    });

    //Animation for the first item.
    function startItemAnimation(index, limit){
        //Starts animation of the red line
        if(animationInterval!=undefined){
            clearInterval(animationInterval);
        }
        animationInterval = setInterval( function(){
            animationPercentage += 1;
            if(animationPercentage > limit){
                animationPercentage = limit;
            }
            customControlsItems.eq(index).css("width", animationPercentage + "%");
        }, (intervalValue-200)/100);
    }

});
</script>
