      <!-- Vendors -->

      <!-- bower:js -->
      <script src="{{site.baseurl}}/bower_components/jquery/dist/jquery.js"></script>
      <script src="{{site.baseurl}}/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
      <script src="{{site.baseurl}}/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
      <script src="{{site.baseurl}}/bower_components/sweetalert/lib/sweet-alert.js"></script>
      <!-- endbower -->

      <!-- Custom JS -->
      <script src="{{site.baseurl}}/assets/js/app.js"></script>




